<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

- Run the ETL process
- Extract bank and market cap data from the JSON file `bank_market_cap.json`
- Transform the market cap currency using the exchange rate data
- Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [2]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [3]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [4]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2023-09-21 19:23:14--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json.1’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2023-09-21 19:23:14 (24.5 MB/s) - ‘bank_market_cap_1.json.1’ saved [2815/2815]

--2023-09-21 19:23:15--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json.1’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2023-09-21 19:23:15 (14.2 MB/s) - ‘bank_market_cap_2.json.1’ saved [1429/1429]

--2023-09-21 19:23:16--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv.1’

exchange_rates.csv. 100%[===================>]     590  --.-KB/s    in 0s

2023-09-21 19:23:16 (6.27 MB/s) - ‘exchange_rates.csv.1’ saved [590/590]

## Extract

### JSON Extract Function

This function will extract JSON files.

In [23]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [24]:
def extract():
    extracted_data = pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    for jsonfile in glob.glob("*.json"):
        json_data = extract_from_json(jsonfile)
        extracted_data = extracted_data.append(json_data, ignore_index=True)
    return extracted_data
extract()

                                        Name  Market Cap (US$ Billion)
0                             JPMorgan Chase                   390.934
1    Industrial and Commercial Bank of China                   345.214
2                            Bank of America                   325.331
3                                Wells Fargo                   308.013
4                    China Construction Bank                   257.399
..                                       ...                       ...
170                             Ping An Bank                    37.993
171                       Standard Chartered                    37.319
172                     United Overseas Bank                    35.128
173                                QNB Group                    33.560
174                              Bank Rakyat                    33.081

[175 rows x 2 columns]

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [26]:
# Write your code here
exchange_rates = pd.read_csv('exchange_rates.csv',index_col=0)

# Obtener el valor de la libra esterlina (GBP)
valor_gbp = exchange_rates.loc['GBP', ] #Usar loc
print("El valor de GBP es:", valor_gbp)
exchange_rates.Rates[0]
exchange_rates['Rates']

El valor de GBP es: Rates    0.732398
Name: GBP, dtype: float64

AUD        1.297088
BGN        1.608653
BRL        5.409196
CAD        1.271426
CHF        0.886083
CNY        6.483139
CZK       21.510117
DKK        6.119757
EUR        0.822504
GBP        0.732398
HKD        7.752509
HRK        6.222652
HUF      294.135549
IDR    14097.902616
ILS        3.281132
INR       73.011186
ISK      129.133081
JPY      103.791742
KRW     1105.839776
MXN       19.932966
MYR        4.043017
NOK        8.497121
NZD        1.393733
PHP       48.070406
PLN        3.732933
RON        4.008883
RUB       74.930827
SEK        8.292071
SGD        1.328261
THB       30.009870
TRY        7.418572
USD        1.000000
ZAR       15.118441
Name: Rates, dtype: float64

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1. Changes the `Market Cap (US$ Billion)` column from USD to GBP
2. Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3. Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [57]:
def transform(data):
    # Change Market Cap from USD to GBP and round to 3 decimal places
    exchange_rate = 0.732398
    data['Market Cap (GBP$ Billion)'] = data['Market Cap (US$ Billion)'] / exchange_rate
    data['Market Cap (GBP$ Billion)'] = data['Market Cap (GBP$ Billion)'].round(3)
    del data['Market Cap (US$ Billion)']
    return data

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [67]:
def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile, index= False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [59]:
from datetime import datetime
def log(message):
    timestamp_format = '%Y - %h - %d - %H:%M-%s'
    now = datetime.now()
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + 'n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [60]:
# Write your code here
log("ETL Job Started")
log("Extract phase Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [61]:
# Call the function here
extracted_data = extract()
# Print the rows here
extracted_data.head(5)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as <code>"Extract phase Ended"</code>

In [62]:
# Write your code here
log("Extract phase Ended")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [63]:
# Write your code here
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [64]:
# Call the function here
transformed_data = transform(extracted_data)

# Print the first 5 rows here
transformed_data.head(5)

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    533.773
1  Industrial and Commercial Bank of China                    471.348
2                          Bank of America                    444.200
3                              Wells Fargo                    420.554
4                  China Construction Bank                    351.447

Log your data <code>"Transform phase Ended"</code>

In [65]:
# Write your code here
log("Transform phase Ended")

### Load

Log the following `"Load phase Started"`.

In [66]:
# Write your code here
log("Load phase Started")

Call the load function

In [68]:
# Write your code here
targetfile = "bank_market_cap_gbp.csv"
load(targetfile, transformed_data)

Log the following `"Load phase Ended"`.

In [69]:
# Write your code here
log("Load phase Ended")

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).